.container {
  padding: 0 1.5rem;
  padding-top: 7.5rem;
}
.content {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content h2 {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  line-height: 2.25rem;
  color: var(--black);
  letter-spacing: 0.05375rem;
  text-transform: uppercase;
}
.products {
  margin-top: 2.5rem;

  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product h3 {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  line-height: 2.25rem;
  color: var(--black);
  letter-spacing: 0.0625rem;
  text-transform: uppercase;

  margin-top: 2rem;
  margin-bottom: 2rem;
}
.product picture {
}
.product img {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1378/704;
}
.cta {
  text-transform: uppercase;
}

@media screen and (min-width: 710px) {
  .container {
    padding: 0 2.4375rem;
    padding-top: 7.5rem;
  }
  .content h2 {
    font-size: 2rem;
    letter-spacing: 0.0625rem;
  }
  .products {
    margin-top: 3.5rem;
    flex-direction: row;
    gap: 0.6875rem;
  }
  .product h3 {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
  .product img {
    aspect-ratio: 1080/1120;
  }
}

@media screen and (min-width: 1190px) {
  .container {
    padding: unset;
    padding-top: 10rem;
  }
  .products {
    margin-top: 4rem;
    gap: 1.875rem;
  }
  .product img {
    aspect-ratio: 654/704;
  }
}
