.button {
  cursor: pointer;
  width: 160px;
  height: 48px;
  display: grid;
  place-items: center;
  font-size: 0.8125rem;
  font-weight: var(--fw-bold);
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
  transition: all 0.3s ease;

  border: none;
  background-color: transparent;

  font-family: '__Manrope_0db549', '__Manrope_Fallback_0db549';
}
.link {
  text-decoration: none;
}
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.button.primary {
  background-color: var(--primary);
  color: var(--white);
  border: 3px solid transparent;
}

.button.primary:not(:disabled):hover {
  background-color: var(--secondary);
}
.button.primary:not(:disabled):focus {
  background-color: var(--secondary);
}
.button.secondary {
  color: var(--black);
  background-color: transparent;
  border: 1px solid var(--black);
}
.button.secondary:not(:disabled):hover {
  color: var(--white);
  background-color: var(--black);
}
