.container {
  padding: 0 1.5rem;
  padding-top: 1.625rem;
  padding-bottom: 6.0625rem;
}
.content {
  max-width: var(--max-width);
  margin: auto;
  display: grid;
  grid-template-rows: auto auto auto;
}
.goBack {
  align-self: flex-start;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 710px) {
  .container {
    padding: 0 2.4375rem;
    padding-top: 3rem;
    padding-bottom: 7.25rem;
  }
}
@media screen and (min-width: 1190px) {
  body:has(.container) {
    /* On this subpage background is diffrent */
    background-color: #f1f1f1;
  }
  .goBack {
    margin-bottom: 2.375rem;
  }
  .container {
    padding: unset;
    padding-top: 5rem;
    padding-bottom: 8.8125rem;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: auto auto;
    gap: 2.375rem 1.875rem;
  }
}

/*?Modal*/
.modalContainer {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;

  visibility: collapse;
  overflow: auto;

  transition: all 0.3s ease-in;

  display: grid;
  place-items: center;
}
.modalContainer__show {
  background-color: rgba(0, 0, 0, 0.4);
  visibility: visible;
}

.modalContent {
  padding: 2rem;
  width: 377px;
  max-width: calc(100vw - 3rem);

  background-color: var(--white);
  border-radius: 0.5rem;
  opacity: 0;

  transition: opacity 0.2s ease-in;
}
.modalContainer__show .modalContent {
  opacity: 1;
}
body:has(.modalContainer__show) {
  overflow: hidden;
}

.heading {
  margin-top: 1.4375rem;
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  line-height: 1.75rem;
  letter-spacing: 0.05375rem;
  color: var(--black);

  text-transform: uppercase;
}
.text {
  margin-top: 1rem;
  font-size: 0.9375rem;
  font-weight: var(--fw-medium);
  line-height: 1.5625rem;
  color: var(--black);
  opacity: 0.5;
}
.summaryBox {
  margin-top: 1.5rem;
  background-color: #f1f1f1;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.items {
  margin-top: 1.5rem;
  padding: 0 2rem;

  --item-height: 64px;
  width: 100%;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  max-height: var(--item-height);
  overflow-y: hidden;
}
.items__showMore {
  max-height: calc(
    (var(--item-height) + 16px) * 3
  ); /*16px is gap that we need to involve in calcs*/
  overflow-y: auto;
}

.item {
  display: grid;
  height: var(--item-height);
  width: 100%;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'image name select' 'image price select';
  gap: 0 1rem;
  align-items: center;
}
.item--image {
  width: var(--item-height);
  height: var(--item-height);
  border-radius: 0.625rem;
  grid-area: image;
}
.item--name,
.item--price {
  font-weight: var(--fw-bold);
  line-height: 1.5625rem;
  color: var(--black);

  text-transform: uppercase;
}
.item--name {
  font-size: 0.9375rem;
  grid-area: name;
  align-self: flex-end;
}
.item--price {
  grid-area: price;
  align-self: flex-start;
  font-size: 0.875rem;
  opacity: 0.5;
}
.item--quantity {
  font-size: 0.9375rem;
  font-weight: var(--fw-bold);
  line-height: 1.5625rem;
  color: var(--black);
  opacity: 0.5;
  align-self: flex-end;
}

.splitter {
  width: 100%;
  height: 1px;
  background-color: var(--black);
  opacity: 0.08;
}
.viewLessMoreContainer {
  margin-top: 0.75rem;
  width: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.viewLessMoreButton {
  margin-top: 0.75rem;

  cursor: pointer;
  background-color: transparent;
  border: none;

  font-family: inherit;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  line-height: 1rem;
  letter-spacing: -0.013125px;
  color: var(--black);
  opacity: 0.5;
}
.viewLessMoreButton:hover {
  opacity: 1;
  color: var(--primary);
}

.summaryBox__prices {
  margin-top: 1.5rem;
  width: 100%;
  background-color: var(--black);
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0.9375rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.summaryBox__prices--name {
  font-size: 0.9375rem;
  font-weight: var(--fw-medium);
  line-height: 1.5625rem;
  text-transform: uppercase;
  color: var(--white);
  opacity: 0.5;
}
.summaryBox__prices--value {
  font-size: 1.125rem;
  font-weight: var(--fw-bold);
  line-height: 1.5625rem;
  color: var(--white);
}

.cta {
  margin-top: 1.4375rem;
  text-transform: uppercase;
  width: 100% !important;
}

@media screen and (min-width: 710px) {
  .modalContent {
    width: 540px;
    padding: 3rem;
  }

  .heading {
    margin-top: 2.0625rem;
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 0.0625rem;
  }
  .text {
    margin-top: 1.5rem;
  }

  .summaryBox {
    margin-top: 2.0625rem;
    display: grid;
    grid-template-columns: 1fr 198px;
    grid-template-rows: auto auto;
    grid-template-areas: 'list prices' 'lessMoreButton prices';
  }
  .items {
    margin-top: 1.5rem;
    padding: 0 1.5rem;
    grid-area: list;
  }
  .viewLessMoreContainer {
    margin-bottom: 1.5rem;
    justify-self: center;
    align-self: self-start;
    grid-area: lessMoreButton;
  }
  .summaryBox__prices {
    grid-area: prices;
    margin: unset;
    height: 100%;
    justify-content: center;
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .cta {
    margin-top: 2.875rem;
  }
}
